<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
  <form [formGroup]="taskForm" (submit)="editTask(taskForm.value)">
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input type="text" name="description" formControlName="description" placeholder="Enter task description">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select formControlName="type" name="type" placeholder="Select task type">
        <ion-select-option value="recurring">Recurring</ion-select-option>
        <ion-select-option value="once">One time</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Deadline date</ion-label>
      <ion-datetime formControlName="date" display-format="MMM DD, YYYY" picker-format="MMMM DD YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Deadline time</ion-label>
      <ion-datetime formControlName="time" display-format="h:mm A" picker-format="h mm A"></ion-datetime>
    </ion-item>
    <ion-input type="number" name="id" formControlName="id"></ion-input>
    <ion-button padding expand="block" size="large" slot="start" type="submit" [disabled]="!taskForm.valid">Save Task</ion-button>


  </form>
  -->
</ion-content>